     <h5>New Album Entry</h5>
<form action="/album-entry" method="post" enctype="multipart/form-data" class="form-horizontal form-custom-border ml-0 pl-5 col-sm-4">
    <fieldset>
        <!-- Address form -->
        <!-- full-name input-->
        {{!-- <div class="row">
          <div class="form-group col-sm-5">
            <label class="col-form-label col-form-label-sm">First Name</label>
            <input id="first-name" name="firstName" type="text" placeholder="{{name.firstName}}" class="form-control form-control-sm">
          </div>
          <div class="form-group col-sm-6">
            <label class="col-form-label col-form-label-sm">Last Name</label>
            <input id="last-name" name="lastName" type="text" placeholder="{{name.lastName}}" class="form-control form-control-sm">
          </div>
        </div> --}}
        <!-- artist input-->
        <div class="row">
          <div class="form-group col-sm-11">
            <label class="col-form-label col-form-label-sm">Artist</label>
            <input id="artist" name="artist" type="text" placeholder="{{shippingAddress.address1}}" class="form-control form-control-sm">
          </div>
        </div>
        <!-- album input-->
        <div class="form-group row">
          <div class="col-sm-11">
            <label class="col-form-label col-form-label-sm">Album Title</label>
            <input id="album-title" name="albumTitle" type="text" placeholder="{{shippingAddress.address2}}" class="form-control form-control-sm">
          </div>
        </div>
        <!-- label input-->
        <div class="form-group row">
          <div class="col-sm-5">
            <label class="col-form-label col-form-label-sm">Label</label>
                <input id="label" name="label" type="text" placeholder="{{shippingAddress.city}}" class="form-control form-control-sm">
          </div>

        <!-- catalog-number input-->
        <div class="col-sm-4">
            <label class="col-form-label col-form-label-sm">Catalog #</label>
            <input id="catalog-number" name="catalogNumber" type="text" placeholder="{{shippingAddress.zipcode}}" class="form-control form-control-sm">
        </div>
      </div>

      <!-- genre input-->
      <div class="form-group row">
        <div class="col-sm-5">
            <label class="col-form-label col-form-label-sm">Release Date</label>
                <input id="date" name="date" type="date" placeholder="{{shippingAddress.city}}" class="form-control form-control-sm">
          </div>
          <div class="col-sm-4">
            <label class="col-form-label col-form-label-sm">Genre </label>
              <select class="form-control form-control-sm" name="genre">
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="r&b">R&B</option>	
                <option value="rap">Rap</option>	
                <option value="country">Country</option>
                <option value="jazz">Jazz</option>
                <option value="classical">Classical</option>
              </select>	
          </div>
        </div>
      <hr>
      <h5>Album Cover</h5>
      <div class="form-group">
        <input type="file" class="form-control-file form-control-file-sm" name='photo' id="albumCover">
      </div>
      <hr>
        <h5>Tracklisting</h5>
        <div class="col-sm-10">
    <ol class="list-group input_fields_wrap">
    <div><li class="form-group-row"><input class="form-control form-control-sm" type="text" name="tracklist[]"></li></div>
    </ol>
    <a href="" class="add_field_button">Add another song</a>
</div>
      <hr>
        <h5>Vinyl</h5>
       <div class="form-group row">
          <div class="col-sm-3">
            <label class="col-form-label col-form-label-sm">Price</label>
                <input id="vinyl-price" name="vinylPrice" type="text" placeholder="{{shippingAddress.city}}" class="form-control form-control-sm">
          </div>

          <div class="col-sm-3">
          <!-- catalog-number input-->
            <label class="col-form-label col-form-label-sm">Quantity</label>
              <input id="vinyl-quantity" name="vinylQuantity" type="text" placeholder="{{shippingAddress.zipcode}}" class="form-control form-control-sm">
          </div>
          <div class="col-sm-4">
            <label class="col-form-label col-form-label-sm">Format</label><br>
            <label class="radio-inline"><input id="12inch" type="radio" name="vinylFormat" value="12">12"</label>
            <label class="radio-inline"><input id="10inch" type="radio" name="vinylFormat"value="10">10"</label>
            <label class="radio-inline"><input id="7inch" type="radio" name="vinylFormat"value="7">7"</label>
          </div>
        </div>
      <hr>
      <h5>CD</h5>
       <div class="form-group row">
          <div class="col-sm-3">
            <label class="col-form-label col-form-label-sm">Price</label>
                <input id="cd-price" name="cdPrice" type="text" placeholder="{{shippingAddress.city}}" class="form-control form-control-sm">
          </div>

        <!-- catalog-number input-->
        <div class="col-sm-3">
            <label class="col-form-label col-form-label-sm">Quantity</label>
            <input id="cd-quantity" name="cdQuantity" type="text" placeholder="{{shippingAddress.zipcode}}" class="form-control form-control-sm">
        </div>
      </div>
      <div  class="form-group text-center mr-5 mt-2">
      <button type="submit" class="btn btn-outline-dark">Update</button>

    </div>  
    </fieldset>
</form>
